// Flexing Elements

.headerContainer,
.newListContainer,
.movieListTitle,
.selectedMovies,
.formFlexContainer {
  display: flex;
  justify-content: space-between;
}

// Header

header {
  background-color: $secondaryColor;
}

.headerContainer {
  align-items: center;
}

.titleContainer {
  width: 60%;
}

.imageContainer {
  width: 40%;
}

// Header and UserList
.headerContainer,
.formContainer {
  padding: 60px 0;
}

// UserList Component 

.newListContainer input {
  width: calc(100% - 20px);
  margin-right: 20px;
}

.newListButton {
  font-size: 4rem;
}

// Button Size
.searchButton,
.trashButton,
.deleteMovieIcon {
  font-size: 2rem;
}

.newListButton,
.searchButton {
  width: 50px;
  height: 50px;

  padding: 3px;

  border-radius: 50%;
  color: $white;
  background-color: $tertiaryColor;

  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.movieListContainer {
  margin-bottom: 25px;

  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.movieTitles {
  padding-bottom: 10px;
}

// Grid Elements
.movieListContainer,
.buttonContainer,
.catalogue {
  display: grid;
}

// Grid Elements Gap
.movieListContainer,
.catalogue {
  grid-gap: 3rem;
}

.buttonContainer {
  margin-top: 10px;
  word-wrap: break-word;

  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
}

// Centering
.movieTitles,
.addMovieButton,
footer {
  text-align: center;
}

.addMovieButton {
  max-width: 200px;
  padding: 10px 10px;

  font-size: 1.6rem;

  border-radius: 5px;
  background: $primaryColor;
}

.addMovieButton:hover {
  cursor: pointer;

  transform: translateY(-2px);
  transition: transform 150ms;

  box-shadow: 0 3px 3px 0 #2b9348;
}

.addMovieButton:focus {
  border: 2px solid darken($secondaryColor, 40);
}

.trashButton {
  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.trashButtonMovie {
  font-size: 1.8rem;

  background: $white;
  color: $primaryColor;

  &:hover,
  &:focus {
    color: $black;
  }
}

.movieListTitle {
  padding: 10px 20px;
  border-radius: 5px;
}

.movieListTitle p {
  overflow: hidden;
}

.selectedMoviesinList li {
  border-bottom: 2px solid $black;
  padding: 10px 20px;
}

.movieListTitle,
.deleteListIcon,
.trashButton {
  background: $tertiaryColor;
}

.deleteListIcon {
  color: $white;
  font-size: 3rem;
}

.deleteMovieIcon {
  color: $secondaryColor;
  background-color: $white;
}

// Search

.searchForm {
  margin: 60px 0;
  
  input {
    margin-right: 20px;
    width: calc(100% - 20px);
  }
}

// Gallery 

.catalogue {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

// Footer

footer {
  padding: 20px 0;
  margin-top: 60px;

  background-color: $secondaryColor;
}

// Error Handle for lists
.selectedMovies:nth-of-type(1) {
  display: none;
}