
// Medium / Small Screens
@media (max-width: 768px) {

  .headerContainer {
    flex-direction: column-reverse;
  }
    
  .titleContainer {
    text-align: center;
    padding-top: 25px;
  }

  .imageContainer,
  .titleContainer {
    width: 100%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }
  // End of Query
}

// Small / Mobile Screens
@media (max-width: 415px) {

  .newListContainer input,
  .searchForm input {
    width: 77%;
    margin: 0;
  }

  .movieListContainer,
  .catalogue {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  legend {
    font-size: 2.5rem;
  }
  // End of Query
}